#promo-mid{
    position: relative;
    float: left;
    width: 100%;
    
    /*background-color: rgb(150, 237, 100);*/

   
}

#superior{
    position: relative;
    float: left;
    width: 100%;
  
    /*background-color: darkmagenta;*/
    z-index: 100;

        
}

#inferior{
    position: relative;
    float: left;
    width: 100%;

   
    /*background-color: rgb(255, 0, 55);*/


}

.banner-promo{
    position: relative;
    float: left;
    width: 33.3%;
    height: auto;
   
    /*background-color: rgb(100, 237, 130);*/
    padding: 2px;

    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-promo img{
    width: 100%;
    object-fit: cover;
}

.banner-promo-inferior img{
    width: 100%;
    object-fit: cover;
}



.banner-promo-inferior{
    position: relative;
    float: left;
    width: 50%;
    height: auto;

    /*background-color: darkmagenta;*/
    padding: 2px;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

}

























@media only screen and (max-width: 380px) {

    #promo-mid{
        position: relative;
        float: left;
        width: 100%;
        
        
        /*background-color: rgb(182, 30, 187);*/
    
       
    }

    #superior{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        
        /*background-color: darkmagenta;*/
        z-index: 100;  
        
            
    }


        
    #cor12{
        position: relative;
        float: left;
       
        width: 100%;
    }

    #cor13{
        position: relative;
        float: left;
       
        width: 100%;
    }

    #cor14{
        position: relative;
        float: left;
        
        width: 100%;
    }


        
    #inferior{
        position: relative;
        float: left;
        width: 100%;
        height: auto;
    
        /*background-color: rgb(9, 255, 0);*/

        

    }

    
    .banner-promo{
        position: relative;
        float: left;
        width: 100%;
        
        /*background-color: forestgreen;    */
        
    }

    

    .banner-promo-inferior{   
        width: 100%; 


    }



}