#bannerrotativo{
    position: relative; 
    float: left;     
    width: 100%; 
    height: auto;   
    /*background-color: rgb(209, 127, 127);*/ 

    background-size: cover;
}





@media only screen and (max-width: 380px) {
   
    
}