#sitetotal{
    position: relative;   
    float: left; 
    width: 66%;
    height: auto;
    /*background-color: rgb(158, 158, 158);*/
    background-color: rgb(243, 241, 241);

    margin-left: 17%;
}

@media only screen and (max-width: 380px) {

    #sitetotal{
        width: 100%;
        margin-left: 0%;

    }

}